body {
  font-family: 'Lato', sans-serif;
}

.wrapper {  
  margin: 0 auto;
  max-width: 1144px;
}

/* top-header */

header .top-header {
  background: #005883;
  background-size: cover;
  height: 200px;
  position: relative;
  border: 1px solid;
  padding: 10px;
  box-shadow: 4px 8px #F0B429;
}

header .top-header .top-text {
  color: white;
  left: 60%;
  position: absolute;
  text-align: right;
  top: 50%;  
  transform: translate(-10%, -40%);  
}

/* Flex Nav Bar */
.flex-nav {
  background: #005883;  
  display: flex;
  list-style-type: none;   
}

.flex-nav li {
  color: inherit;
  flex: 1;
  text-align: center;
  transition: all .2s ease;
}
.flex-nav li:not(:first-child) {
  border-left: 2px solid #ecf0f1;
}
.flex-nav li:hover {
  background: #2980b9;
  flex: 1.1;
}
.flex-nav li a {
  color: white;
  display: block;
  padding: 20px 0;  
  text-decoration: none;
  text-transform: capitalize;
}

/* Hamburger Icon */
nav .hamburger {
  border: 3px solid #ecf0f1;
  border-radius: 5px;
  display: none;
  height: 36px;
  margin: 5px;    
  width: 36px;  
}
nav .hamburger i, nav .hamburger i:before, nav .hamburger i:after {
  background: #ecf0f1;
  border-radius: 4px;  
  content: '';
  cursor: pointer;
  height: 4px;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  width: 25px;
}
nav .hamburger i {
  display: block;
  left: 6px;
  position: relative;
  top: 16px;  
}
nav .hamburger i:before {
  position: absolute;
  top: -8px;
}
nav .hamburger i:after {
  position: absolute;
  top: 8px;
}
nav.active .hamburger {
  border-radius: 50%;
}
nav.active .hamburger i {
  background: transparent;
}
nav.active .hamburger i:before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
nav.active .hamburger i:after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* End Header Section */

/* start content section*/
.content {
  display: flex;
  flex: 2;
}
.cards {
  display: flex;
  flex-direction: row;
  flex: 3;    
}

.card {
  flex: 1;
  position: relative;
  z-index: 1;
  display: block;
  background: #FFFFFF;
  min-width: 270px;
  height: 470px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.card:hover,
.hover {
  -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.card:hover .thumbnail img,
.hover .thumbnail img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  opacity: .6;
}
.card .thumbnail {
  background: #000000;
  height: 250px;
  overflow: hidden;
}
.card .thumbnail .date {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  background: #e74c3c;
  width: 55px;
  height: 55px;
  padding: 12.5px 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card .thumbnail .date .day {
  font-size: 18px;
}
.card .thumbnail .date .month {
  font-size: 12px;
  text-transform: uppercase;
}
.card .thumbnail img {
  display: block;
  width: 120%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.card .card-content {
  position: absolute;
  bottom: 0;
  background: #FFFFFF;
  width: 100%;
  padding: 30px;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}
.card .card-content .category {
  position: absolute;
  top: -34px;
  left: 0;
  background: #e74c3c;
  padding: 10px 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.card .card-content .title {
  margin: 0;
  padding: 0 0 10px;
  color: #333333;
  font-size: 26px;
  font-weight: 700;
}
.card .card-content .sub_title {
  margin: 0;
  padding: 0 0 20px;
  color: #e74c3c;
  font-size: 20px;
  font-weight: 400;
}
.card .card-content .description {
  display: none;
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
}
.card .card-content .post-meta {
  margin: 30px 0 0;
  color: #999999;
}
.card .card-content .post-meta .timestamp {
  margin: 0 16px 0 0;
}
.card .card-content .post-meta a {
  color: #999999;
  text-decoration: none;
}
.hover .card-content .description {
  display: block !important;
  height: auto !important;
  opacity: 1 !important;
}

/* End content section */

/* Start Footer section */
footer{
  background: #005883;
  box-shadow: 4px 8px #F0B429;
  color: white;
  bottom: 10;    
  max-width: 1144px;  
  position: 0px;
  width: auto;
}
/* End Footer section */

@media screen and (max-width: 1200px) {
  .wrapper {  
    margin: 0 auto;
    max-width: 970px;  
  }

  .footer { 
    width: 970px;
  }
}

@media screen and (max-width: 992px) {
  .wrapper {  
    margin: 0 auto;
    max-width: 750px;  
  }

  .footer { 
    width: 750px;
  }
}

@media screen and (max-width: 768px) {
  /* top header */
  header .top-header {
    min-height: 250px;
    margin-bottom: 10px;
  }
  header .top-header .top-text {
    left: 10%;
    position: relative;
    text-align: center;
    top: 7%;
  }

  header .top-header .top-text h1 {
    font-size: 1.6em;
  }

  header .top-header .top-image img {
    display: block;
    margin: 0 auto;    
  }

  /* nav menu*/
  .flex-nav {
    flex-direction: column;
  }
  .flex-nav li {
    color: transparent;
    display: none;
    height: 0;
    transition: height 1s ease;    
  }
  .flex-nav > li:not(:first-child) {
    border-left: none;
  }

  .flex-nav li a {    
    font-weight: 600;
    text-align: start;
    text-transform: uppercase;
  }

  nav .hamburger {
    display: inline-block;
  }
  nav.active .flex-nav li {
    color: inherit;
    display: block;
    height: initial;    
  }
  /* end nav */
}
